@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="healthBars">
		<div class="healthBar">
			<div class="inner">
				<div class="fill" style="width: @(Uinfo.Health / Uinfo.MaxHealth * 100f)%">
					<p class="text">@Uinfo.Health / @Uinfo.MaxHealth </p>
				</div>
			</div>
		</div>
	</div>
</root>

@code
{
		[Property] UnitInfo Uinfo { get; set; }
		protected override int BuildHash()
		{
			return System.HashCode.Combine(Uinfo.Health);
		}
	}
