@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="HP">
		<p>	@(Uinfo.Health / Uinfo.MaxHealth * 100f)% </p>
		<p>@Uinfo.Health</p>
	</div>
</root>

@code
{
	[Property] UnitInfo Uinfo {get; set;}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(Uinfo.Health);
	} 
}
