PlayerHud {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;


	> .healthBars {
		position: absolute;
		bottom: 30px;
		left: 30px;

		> .healthBar {
			display: flex;
			width: 450px;
			height: 100px;
			background-color: dimgrey;
			padding: 8px;

			> .inner {
				display: flex;
				flex-direction: column;
				background-color: black;
				flex-grow: 1;

				> .fill {
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 100%;
					background-color: red;
				}
			}
		}
	}
}
